	<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		id        = "com.myapp.cliniare"
		versionCode=""
		version   = "2.26">
		<name>Clinical Care Test		</name>
		<description>Health Care		</description>
		<author href="http://www.myapp.com" email="info@myapp.com">Amazing App Team		</author>
		<feature name="http://api.phonegap.com/1.0/battery" />
		<feature name="http://api.phonegap.com/1.0/camera" />
		<feature name="http://api.phonegap.com/1.0/contacts" />
		<feature name="http://api.phonegap.com/1.0/file" />
		<feature name="http://api.phonegap.com/1.0/geolocation" />
		<feature name="http://api.phonegap.com/1.0/media" />
		<feature name="http://api.phonegap.com/1.0/network" />
		<feature name="http://api.phonegap.com/1.0/notification" />
		<preference name="phonegap-version" value="cli-6.5.0" />
		<preference name="orientation" value="default" />
		<preference name="fullscreen" value="false" />
		<preference name="target-device" value="universal" />
		
		
		<platform name="android">
		</platform>
		
		 <icon src="icon.png" />
		<access origin="https://tlk.io/clinicalcare" subdomains="true" />
		<access origin="https://tlk.io/" subdomains="true" />
		</widget>
